* {
  margin: 100;
  padding: 100;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
.container {
    padding-right: 250px;
    padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: blue;
}
